:root { 
--white_A700_7f:#ffffff7f; 
--gray_700:#616161; 
--black_900:#000000; 
--gray_900_7f:#1616157f; 
--gray_900:#161615; 
--gray_900_01:#191919; 
--yellow_900:#f07e15; 
--white_A700:#ffffff; 
--yellow_900_6c:#f07e156c; 
}